<div id="<%= dom_id pokemon %>">


  <p>
    <strong>Name:</strong>
    <%= pokemon['name'] %><br/>
    <strong>Experiência:</strong>
    <%= pokemon['base_experience'] %><br/>
    <strong>Valor em satoshi:</strong>
    <%= pokemon['value_satoshi'] %><br/>
    <strong>Valor em dólar:</strong>
    <%= pokemon['value_dolar'] %><br/>
  </p>



</div>
