<div id="<%= dom_id pokemon %>">

  <div>
    <%= "Valor do BTC nas últimas 24h: USD #{@price_btc}" %>
  </div>
  <p>
    <strong>Name:</strong>
    <%= pokemon['name'] %><br/>
    <strong>Experiência:</strong>
    <%= @pokemon['base_experience'] %><br/>
    <strong>Quantidade de compra (satoshi):</strong>
    <%= @pokemon['value_satoshi'] %><br/>
  </p>
  <p>
    <strong>Valor atualizado (USD):</strong>
    <%= @in_dollar %><br/>
  </p>



</div>
