<!DOCTYPE html>
<html>
  <head>
    <title>Pokecoin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div>
    <h1>PokeCoin - Pokemon's Wallet</h1>
  </div>
  <div>
    <%= link_to "Minha carteira", wallets_path+"/show" %>
    |
    <%= link_to "Comprar Pokemon", pokemons_path+"/new" %>
    |
    <%= link_to "Consultar Pokemon", pokemons_path %>
    |
    <%= link_to "Histórico", historic_read_path %>
  </div>

  <%= yield %>
  </body>
</html>
